# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# OS-specific junk
.DS_Store

# VS Code settings (optional)
.vscode/

# Jupyter checkpoints (if you ever add notebooks)
.ipynb_checkpoints/
